body {
	text-transform: uppercase;
	background-color: darkgreen;
	font-weight: bold;
}

/*-----------------------HEADER----------------------*/


header {
	color: #ffffff;
}

main {
	background-image: 
}

nav {
	font-size: 16px;
	line-height: 20px;
}

ul {
	list-style-type: none;
}

.main-navigation a {
	text-decoration: none;
	color: #ffffff;
}

.login-form {
	color: #000000;
}

.login {
	text-decoration: none;
	color: #ffffff;
}

.login-form a {
	color: #000000;
	font-size: 14px;

}

.login-form h1 {
	font-size: 30px;
}

.login-form label,
.login-form p  {
	font-size: 14px;
}

.login-form button {
	color: #ffffff;
}



/*-----------------------MAIN-----------------*/

h1 {
	font-size: 30px;
	line-height: 42px;
}

main ul {
	list-style-type: none;
	font-size: 14px;
	line-height: 24px;
}

.bread-crumbs a {
	text-decoration: none;
	color: #000000;
}

.bread-crumbs li {
	color: #aba9a7;
}

.prev p {
	font-size: 48px;
	line-height: 48px;
}

tr {
	font-size: 14px;
	line-height: 24px;
}

main h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

.about p {
	font-size: 14px;
	line-height: 24px;
}

.addition p {
	font-size: 14px;
	line-height: 24px;
}


/*------------------------------FOOTER--------------------*/

footer {
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}

.footer-contacts a {
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;

} 

.footer-copyright a {
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
}